body {
  margin: 0;
  display: flex;
  flex-direction: column;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: white;
  font-family: 'Helvetica Rounded', sans-serif;
  font-weight: bold;
}
